
<br />
<br />

<div class="container">
  <div class="dropdown-label left">
    <select [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
      <option value="0">Select Category</option>
      <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
    </select>
  </div>
  <div class="dropdown-label center">
    <select [(ngModel)]="selectedProductId" (change)="onProductChange()">
      <option value="0">Select Product</option>
      <option *ngFor="let product of products" [value]="product.id">{{ product.name }}</option>
    </select>
  </div>
  <div class="dropdown-label right">
    <select [(ngModel)]="selectedBrandId" (change)="onBrandChange()">
      <option value="0">Select Brand</option>
      <option *ngFor="let brand of brands" [value]="brand.id">{{ brand.name }}</option>
    </select>
  </div>
</div>

<br />
<br />

<div id="chartContainer" style="height: 370px; width: 60%; margin: 0 auto;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>

